extends layout

block content
  h1= title
  //- var ice=[{ice_name:"chocolate",number_of_scoops:"3",ice_price:50},{ice_name:"blackberry",number_of_scoops:"2",ice_price:40},{ice_name:"butterscotch",number_of_scoops:"5",ice_price:60}]
  - let result =results
  - let create = `dispatch(\"/bull/create\")`
  button.btn( class="btn-info", onclick= create) Add new bull
  div(class="container-fluid")
  div(class="row")
   each i,index  in result
      - let destination = `dispatch(\"/bull/update?id=${result._id}\")`
      - let detail = `dispatch(\"/bull/detail/?id=${result._id}")`
      - let deletesoaps = `dispatch(\"/bull/delete/?id=${result._id}")`
      div(class="col-sm-2" onclick =`buy(${index})`) #{i.Bull_Breed}, #{i.Bull_Size}, #{i.Bull_Value}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
      button.btn( class="btn-success", onclick= detail) Details
      button.btn( class="btn-dark", onclick= deletesoaps) Delete
  script.
    function dispatch(path){
    window.location.href=path
    }
    